@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource/source-serif-pro";

:root {
    --brand-hue: 20;
    --brand-100: oklch(0.97 0.02 var(--brand-hue));
    --brand-200: oklch(0.92 0.05 var(--brand-hue));
    --brand-300: oklch(0.86 0.08 var(--brand-hue));
    --brand-400: oklch(0.8 0.12 var(--brand-hue));
    --brand-500: oklch(0.72 0.17 var(--brand-hue));
    --brand-600: oklch(0.63 0.14 var(--brand-hue));
    --brand-700: oklch(0.54 0.12 var(--brand-hue));
    --brand-800: oklch(0.42 0.1 var(--brand-hue));
    --brand-900: oklch(0.25 0.06 var(--brand-hue));
    --warning-100: oklch(0.96 0.02 90);
    --warning-200: oklch(0.92 0.05 90);
    --warning-300: oklch(0.85 0.08 90);
    --warning-400: oklch(0.79 0.12 90);
    --warning-500: oklch(0.71 0.17 90);
    --warning-600: oklch(0.61 0.14 90);
    --warning-700: oklch(0.52 0.12 90);
    --warning-800: oklch(0.41 0.1 90);
    --warning-900: oklch(0.25 0.06 90);
    --success-100: oklch(0.96 0.02 180);
    --success-200: oklch(0.91 0.05 180);
    --success-300: oklch(0.84 0.08 180);
    --success-400: oklch(0.77 0.12 180);
    --success-500: oklch(0.68 0.17 180);
    --success-600: oklch(0.59 0.14 180);
    --success-700: oklch(0.5 0.12 180);
    --success-800: oklch(0.39 0.1 180);
    --success-900: oklch(0.24 0.06 180);
    --secondary-100: oklch(0.96 0.02 250);
    --secondary-200: oklch(0.92 0.05 250);
    --secondary-300: oklch(0.85 0.08 250);
    --secondary-400: oklch(0.79 0.12 250);
    --secondary-500: oklch(0.7 0.17 250);
    --secondary-600: oklch(0.61 0.14 250);
    --secondary-700: oklch(0.52 0.12 250);
    --secondary-800: oklch(0.41 0.1 250);
    --secondary-900: oklch(0.25 0.06 250);
    --primary-100: oklch(0.97 0.02 320);
    --primary-200: oklch(0.92 0.05 320);
    --primary-300: oklch(0.86 0.08 320);
    --primary-400: oklch(0.8 0.12 320);
    --primary-500: oklch(0.73 0.17 320);
    --primary-600: oklch(0.63 0.14 320);
    --primary-700: oklch(0.54 0.12 320);
    --primary-800: oklch(0.42 0.1 320);
    --primary-900: oklch(0.25 0.06 320);
    --tertiary-100: oklch(0.97 0.02 360);
    --tertiary-200: oklch(0.92 0.05 360);
    --tertiary-300: oklch(0.86 0.08 360);
    --tertiary-400: oklch(0.8 0.12 360);
    --tertiary-500: oklch(0.73 0.17 360);
    --tertiary-600: oklch(0.63 0.14 360);
    --tertiary-700: oklch(0.54 0.12 360);
    --tertiary-800: oklch(0.42 0.1 360);
    --tertiary-900: oklch(0.25 0.06 360);
}

@theme {
    --font-serif: "Source Serif Pro", serif;

    --color-*: initial;
    --color-brand-100: var(--brand-100);
    --color-brand-200: var(--brand-200);
    --color-brand-300: var(--brand-300);
    --color-brand-400: var(--brand-400);
    --color-brand-500: var(--brand-500);
    --color-brand-600: var(--brand-600);
    --color-brand-700: var(--brand-700);
    --color-brand-800: var(--brand-800);
    --color-brand-900: var(--brand-900);

    --color-warning-100: var(--warning-100);
    --color-warning-200: var(--warning-200);
    --color-warning-300: var(--warning-300);
    --color-warning-400: var(--warning-400);
    --color-warning-500: var(--warning-500);
    --color-warning-600: var(--warning-600);
    --color-warning-700: var(--warning-700);
    --color-warning-800: var(--warning-800);
    --color-warning-900: var(--warning-900);

    --color-success-100: var(--success-100);
    --color-success-200: var(--success-200);
    --color-success-300: var(--success-300);
    --color-success-400: var(--success-400);
    --color-success-500: var(--success-500);
    --color-success-600: var(--success-600);
    --color-success-700: var(--success-700);
    --color-success-800: var(--success-800);
    --color-success-900: var(--success-900);

    --color-secondary-100: var(--secondary-100);
    --color-secondary-200: var(--secondary-200);
    --color-secondary-300: var(--secondary-300);
    --color-secondary-400: var(--secondary-400);
    --color-secondary-500: var(--secondary-500);
    --color-secondary-600: var(--secondary-600);
    --color-secondary-700: var(--secondary-700);
    --color-secondary-800: var(--secondary-800);
    --color-secondary-900: var(--secondary-900);

    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);

    --color-tertiary-100: var(--tertiary-100);
    --color-tertiary-200: var(--tertiary-200);
    --color-tertiary-300: var(--tertiary-300);
    --color-tertiary-400: var(--tertiary-400);
    --color-tertiary-500: var(--tertiary-500);
    --color-tertiary-600: var(--tertiary-600);
    --color-tertiary-700: var(--tertiary-700);
    --color-tertiary-800: var(--tertiary-800);
    --color-tertiary-900: var(--tertiary-900);

    --color-background: var(--color-brand-100);
    --color-foreground: var(--color-brand-900);
    --color-separator: var(--color-brand-700);
}

@layer base {
    * {
        @apply border-separator font-serif selection:bg-brand-300;
    }
    a {
        @apply clickable underline;
    }
    body {
        @apply bg-background text-foreground;
    }
    button {
        @apply btn;
    }
    p {
        @apply text-lg;
    }

    h2 {
        @apply h2;
    }

    h3 {
        @apply h3;
    }
}

@utility h2 {
    @apply text-4xl font-serif font-bold mb-4 text-brand-800;
}

@utility h3 {
    @apply text-2xl font-bold mb-2 text-brand-800;
}

@utility clickable {
    @apply cursor-pointer disabled:pointer-events-none disabled:cursor-not-allowed opacity-80 hover:opacity-100 font-bold;
}

@utility btn {
    @apply clickable h-8 border-2 border-separator px-3 text-base transition-all rounded-full;
}
